<div class="container bg-blue-400">
  <h1 class="font-bold text-4xl text-center">My Personal Home Page</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "About me", pages_about_path %>
</div>
